<%= form_with(model: @person) do |form| %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :wishlist, style: "display: block" %>
    <%= form.text_field :wishlist %>
  </div>
  
  <%= form.hidden_field :group_id %>
  <div>
  <%= form.submit %>
  </div>
<% end %>


